NET "GCLK" LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET EN				LOC = B16 | IOSTANDARD = "LVCMOS33";
NET RESET			LOC = C16 | IOSTANDARD = "LVCMOS33";
NET CACK				LOC = E15 | IOSTANDARD = "LVCMOS33";
NET IICING			LOC = E11 | IOSTANDARD = "LVCMOS33";
NET DSDA				LOC = D11 | IOSTANDARD = "LVCMOS33";
NET DSCL				LOC = F15 | IOSTANDARD = "LVCMOS33";
NET ISDA				LOC = G16 | IOSTANDARD = "LVCMOS33";
NET ISCL				LOC = H16 | IOSTANDARD = "LVCMOS33";